body {
  font-size: 16px;
}

.App {
  background-color: white;
}

.Frame {
  margin: 0 5rem;
}

.Logo {
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.TextPanel {
  width: 100%;
  height: calc((100vh - 300px) / 2);
  appearance: none;
  border: none;
  outline: none;
  padding: none;
  background-color: #dcdde1;
}

.Info {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigger {
  padding: 20px;
  font-size: 2em;
}
